In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\vikag\Desktop\Data-Science-Projects\House Pricing - Crime\Zillow.csv')

In [4]:
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,...,2021-08-31,2021-09-30,2021-10-31,2021-11-30,2021-12-31,2022-01-31,2022-02-28,2022-03-31,2022-04-30,2022-05-31
0,102001,0,United States,Country,NaN,128395.0,128743.0,129108.0,129852.0,130602.0,...,306859.0,311526.0,315661.0,319583.0,323955.0,328698.0,333926.0,339207.0,344773.0,349816.0
1,394913,1,"New York, NY",Msa,NY,225635.0,226983.0,228196.0,230584.0,232807.0,...,561961.0,567899.0,572475.0,576049.0,579305.0,583284.0,587944.0,594403.0,601566.0,609114.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,232107.0,232915.0,234153.0,236506.0,239030.0,...,840746.0,849893.0,854671.0,861904.0,871240.0,882065.0,894452.0,912015.0,931353.0,948029.0
3,394463,3,"Chicago, IL",Msa,IL,171379.0,171783.0,172306.0,173354.0,174464.0,...,282650.0,285746.0,288426.0,291143.0,293884.0,296541.0,299128.0,302449.0,305944.0,309940.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,131728.0,131833.0,131921.0,132135.0,132359.0,...,323039.0,330303.0,336443.0,341965.0,347901.0,355388.0,363973.0,372144.0,381722.0,390505.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
904,394767,929,"Lamesa, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,89646.0,90732.0,91689.0,92269.0,93880.0,95522.0,97754.0,98943.0,99990.0,101070.0
905,753874,930,"Craig, CO",Msa,CO,94907.0,95252.0,95835.0,96529.0,97245.0,...,236957.0,240253.0,243234.0,244849.0,248256.0,251223.0,253596.0,253846.0,253996.0,254931.0
906,394968,931,"Pecos, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,158880.0,163679.0,168433.0,169481.0,172273.0,175010.0,177485.0,179284.0,182000.0,184951.0
907,395188,932,"Vernon, TX",Msa,TX,NaN,NaN,NaN,NaN,NaN,...,78764.0,79265.0,79617.0,79904.0,82048.0,84271.0,86898.0,87589.0,88240.0,88527.0
908,394743,933,"Ketchikan, AK",Msa,AK,NaN,NaN,NaN,NaN,NaN,...,335499.0,337740.0,339698.0,341265.0,346850.0,352507.0,357191.0,357422.0,357895.0,359688.0

In [17]:
df1 = pd.read_csv(r'C:\Users\vikag\Desktop\Data-Science-Projects\House Pricing - Crime\estimated_crimes_1979_2020.csv')

In [18]:
df1.T

,0,1,2,3,4,5,6,7,8,9,...,2174,2175,2176,2177,2178,2179,2180,2181,2182,2183
year,1979,1979,1979,1979,1979,1979,1979,1979,1979,1979,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
state_abbr,NaN,AK,AL,AR,AZ,CA,CO,CT,DC,DE,...,TN,TX,UT,VA,VT,WA,WI,WV,WY,NaN
state_name,NaN,Alaska,Alabama,Arkansas,Arizona,California,Colorado,Connecticut,District of Columbia,Delaware,...,Tennessee,Texas,Utah,Virginia,Vermont,Washington,Wisconsin,West Virginia,Wyoming,NaN
population,220099000,406000,3769000,2180000,2450000,22696000,2772000,3115000,656000,582000,...,6886834,29360759,3249879,8590563,623347,7693612,5832655,1784787,582328,329484123
violent_crime,1208030,1994,15578,7984,14528,184087,14472,12902,10553,3127,...,46328,131084,8471,17925,1081,22596,18861,6352,1364,1313105
homicide,21460,54,496,198,219,2952,161,131,180,33,...,663,1931,102,524,14,301,308,117,18,21570
rape_legacy,76390.0,292.0,1037.0,595.0,1120.0,12239.0,1472.0,752.0,489.0,162.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rape_revised,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2678.0,13509.0,1809.0,2279.0,213.0,2677.0,2020.0,832.0,333.0,126430.0
robbery,480700,445,4127,1626,4305,75767,4353,6021,6920,753,...,5575,26834,1362,2947,64,5183,3081,369,66,243600
aggravated_assault,629480,1203,9918,5565,8884,93129,8486,5998,2964,2179,...,37412,88810,5198,12175,790,14435,13452,5034,947,921505
property_crime,11041500,23193,144372,70949,177977,1511021,180984,167131,45877,34853,...,171675,659160,80091,125114,7586,210223,86654,24976,9379,6452038
burglary,3327700,5616,48517,21457,48916,496310,49741,48229,13452,8890,...,26479,108851,9444,11465,961,40167,12744,4877,1225,1035314
larceny,6601000,15076,83791,45267,116976,847148,117898,96997,28819,23081,...,124098,466033,60359,102796,6361,142657,64517,17828,7190,4606324
motor_vehicle_theft,1112800,2501,12064,4225,12085,167563,13345,21905,3606,2882,...,21098,84276,10288,10853,264,27399,9393,2271,964,810400
caveats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN